.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #fcfcfc; */
  /* background-color: rgb(45, 106, 156); */
}

.chat__header {
  /* padding: 10px; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-left: 20px;
  /* margin-bottom: -0.5rem; */
}
.chat__headerRight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: 100%;
  flex: 1;
  /* flex: 0.5; */
  /* background-color: blue; */
  align-items: center;
}

.fas.fa-trash-alt.deleteUser {
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0.3rem;
  color: black;
  /* color: rgba(44, 130, 201, 1); */
}

.chat__headerLeft {
  display: flex;
  flex: 1;
  height: 100%;
  width: 0px;
  align-items: center;
  padding: 0rem;
  margin-left: -0.5rem;
  /* background-color: green; */
  /* width: auto; */
}

.chat__headerInfo {
  flex: 0.3;
  padding-left: 5px;
  padding-top: 15px;
  /* background-color: red; */
}

.chat__headerInfo > p {
  margin-top: -0.1rem;
}

.scroll {
  cursor: pointer;
  display: none;
  position: relative;
  left: -10.8rem;
  top: 1.8rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid grey;
}

.clearSearch {
  order: 2;
  background-color: inherit;
  border: none;
  height: 100%;
  font-size: 1rem;
  display: flex;
  align-self: center;
  position: relative;
  margin-left: -1.4rem;
  outline: none;
  cursor: pointer;
}

.chat__message {
  position: relative;
  font-size: 1rem;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 3px 4px rgb(87, 86, 86);

  /* width: fit-content; */
  border-bottom: 30px;
  word-wrap: break-word;
}
.chat__reciever {
  margin-left: auto;
  background-color: #b8dcfa;
  word-wrap: break-word;
  width: 200px;
  /* overflow: auto; */

  /* background-color: #89c4f4; */
  /* background-color: #dcf8c6; */
}

.message__time {
  display: flex;
  /* height: 100%;
  width: 100%; */
  margin-top: 0.4rem;

  flex-direction: column;
  /* background-color: green; */
}

.chat__timestamp {
  margin-left: 0px;
  font-size: xx-small;
  margin-top: 0.2rem;
}

.chat__name {
  position: absolute;
  top: 5px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__headerInfo > h3 {
  padding: 0px;
  font-weight: 500;
  font-size: 1rem;
}

.chat__headerInfo > p {
  color: rgb(40, 119, 184);
  width: 300px;
  /* color: grey; */
}

.chat__bodyy {
  flex: 1;

  background-color: #556;
  background-image: linear-gradient(
      30deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      150deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      30deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      150deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      60deg,
      #99a 25%,
      transparent 25.5%,
      transparent 75%,
      #99a 75%,
      #99a
    ),
    linear-gradient(
      60deg,
      #99a 25%,
      transparent 25.5%,
      transparent 75%,
      #99a 75%,
      #99a
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  padding: 30px;
  overflow: overlay;
}

.chat__body {
  flex: 1;
  /* background-color: red; */
  background-image: url("https://images.unsplash.com/photo-1598637996066-01a267c99332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  /* background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png"); */
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat; */
  background-position: center;
  background-size: cover;
  padding: 30px;
  /* width: 70vw; */
  overflow: overlay;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 0.99;
  display: flex;
  background-color: white;
  border-radius: 30px;
  margin-left: 0.5rem;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
  /* background-color: red; */
  order: 2;
}

.chat__footer > form > button {
  display: flex;
  order: 3;
  /* display: none; */
  border: none;
  outline: none;
  border-radius: 30px;

  background-color: white;
  margin-right: 0.3rem;
}
.circle {
  background: #89c4f4;
  background: rgba(44, 130, 201, 1);
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 1px;
}

.circle i {
  object-fit: contain;
  display: flex;
  font-size: 15px;
  margin-right: 2px;
  cursor: pointer;
}

.search__input > form {
  display: flex;
  background-color: white;
  flex: 1;
  margin-right: 1rem;
  order: 1;
  border-radius: 30px;
}

.search__input > form > input {
  order: 1;

  /* flex: 1; */
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
  /* background-color: red; */
  /* margin-left: 1rem; */
}

.search__input > form > button {
  /* display: none; */
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: rgba(44, 130, 201, 1);
  /* color: grey; */
}

.MuiSvgIcon-root.emoji {
  display: flex;
  align-self: center;
  cursor: pointer;
  margin-left: 0.5rem;
  /* padding: 10px; */
  font-size: 1.5rem;
  order: 1;
}

.MuiSvgIcon-root.search__button {
  margin-right: 0.5rem;

  /* display: flex; */
  cursor: pointer;
  /* position: relative; */
  /* top: 0.8rem;
  left: -1rem; */
  /* background-color: red; */
  /* margin-left: 15rem; */
  /* margin-left: 25rem; */
  /* font-size: 1.8rem;
  margin-left: 5rem; */
}

.noColor__search {
  /* background-color: red; */
}

/* ---------------------scrollbar----------------------- */

.chat__body::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.chat__body::-webkit-scrollbar {
  width: 8px;

  /* display: none; */
}

.chat__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}

/* -------------------------------------------- */

@media (max-width: 767px) {
  .chat {
    flex: 1;
    flex-direction: column;
    /* display: none; */
    /* background-color: green; */
    /* width: 100px; */
  }

  .chat__header {
    flex: 0.14;
    flex-direction: row;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding-left: 5px;
  }

  .chat__headerRight {
    display: flex;
    flex: 0.1;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.6rem;
  }

  .chat__headerLeft {
    display: flex;
    flex: 0.9;
    height: 100%;
    align-items: center;
    margin-top: -0.5rem;
    margin-left: 0;
    /* background-color: black; */
  }

  .chat__headerInfo {
    font-size: 0.7rem;
    padding-left: 5px;
    margin-top: -0.8rem;
    flex: 1;
    /* background-color: red; */
  }

  .chat__body {
    flex: 1;
    /* background-image: none; */
    /* background: url("http://i.hizliresim.com/v4Qykv.png") no-repeat center
      center fixed; */
    background-position: center;
    background-size: cover;
    overflow: overlay;
  }

  .chat__footer {
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
  }

  .search__input > form {
    background-color: unset;
    border-radius: none;
    margin-left: 2rem;
    /* background-color: white;
    border-radius: 30px;
    margin-left: 2rem; */

    /* flex: 1; */
    /* background-color: red; */
    /* display: flex;
    justify-content: center; */
    /* width: 50px; */
  }
  .search__input > form > input {
    background-color: white;
    width: 150px;
    border-radius: 30px;
    position: relative;
    /* top: 1.6rem;
    left: 3.7rem; */

    /* margin-top: -2rem;
    margin-right: -3rem; */

    /* background-color: blue; */
    /* margin-left: -10rem;
    margin-top: -1.6rem; */
    /* position: absolute;
    left: 5rem;
    top: 4.2rem;
    border-radius: 30px;
    width: 50%;
    height: 10px;
    padding: 15px;
    border: none;
    outline: none;
    opacity: 0.8;
    z-index: 999; */
  }

  .chat__footer > form {
    flex: 1;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    /* background-color: blue; */
  }
  .chat__footer > form > input {
    width: 0px;
    /* background-color: red; */
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
  }

  .chat__body > p {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* line-height: 1rem;
    width: fit-content; */
    /* min-height: 50px; */
    /* min-height: max-content; */
    /* width: fit-content; */
    /* min-height: 40px; */
    width: 50vw;
    height: fit-content;
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
  }

  .scroll {
    display: none;
  }

  .clearSearch {
    /* background-color: inherit;
    border: none;
    font-size: 1.3rem;
    position: absolute;
    left: 16rem;
    top: 4.2rem;
    outline: none;
    z-index: 9999;
    cursor: pointer; */
    /* background-color: red; */
  }

  .chat__message {
    background-color: white;
    max-width: fit-content;
    height: fit-content;
    overflow: auto;
    box-shadow: 0 3px 4px rgb(87, 86, 86);
    /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034); */
    /* border-bottom: 3px solid rgb(53, 51, 51); */
    /* border: 3px solid red; */
  }

  .message__time {
    display: flex;
    margin-top: -0.8rem;
    /* background-color: green; */
    flex-direction: column;
    /* height: 50px; */
  }

  .chat__timestamp {
    margin-left: 0px;
    font-size: xx-small;
    margin-top: 0.2rem;
  }

  .chat__reciever {
    /* min-width: 200px; */
    /* width: fit-content; */
    margin-left: auto;
    background-color: #b8dcfa;
    /* max-width: fit-content;
    min-height: 100px; */
    /* width: fit-content; */
    /* height: 80px; */
    /* min-height: 80px; */
    /* word-wrap: break-word; */
    /* overflow: auto; */

    /* min-height: fit-content !important; */
    /* overflow: auto; */

    /* background-color: #89c4f4; */
    /* background-color: #dcf8c6; */
  }

  .fas.fa-arrow-right.back {
    order: 4;
    color: rgba(44, 130, 201, 1);
    /* margin-left: -1rem;
    margin-top: -2rem;
    font-size: 1rem; */
  }

  .MuiSvgIcon-root.search__button {
    /* margin-top: -3rem;
    margin-right: 0.5rem; */
    margin-right: 0.5rem;
    order: 3;
  }

  .chat__name {
    position: relative;
    top: -12px;
    font-weight: 800;
    font-size: xx-small;
    /* z-index: 100; */
  }

  .chat__headerInfo > p {
    color: rgb(40, 119, 184);
    width: 70%;
    font-size: 0.7rem;
    margin: 0px;
    /* color: grey; */
  }
}

/* //modalllllllllllllllllllllllllllllllllllllll */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;

  height: 400px;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px 0 10px 30px;
}
li,
p {
  margin: 0 0 10px 0;
}
h1 {
  margin: 0 0 20px 0;
}

.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 10px;

  /* needs to look OK with or without scrollbar */
  right: 20px;

  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.open-button {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
}
