.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  /* background-color: #dadbd3; */
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: rgba(137, 196, 244, 1);
  /* background-color: #ededed; */
  height: 90vh;
  width: 90vw;
}

@media (max-width: 767px) {
  .app {
    display: grid;
    place-items: start;
    height: 100vh;
    width: 100vw;
    /* background-color: black; */

    flex: 1;
  }

  .app__body {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: 100vh;
    width: 100vw;
    /* width: fit-content; */

    /* height: 100vh;
    width: 100vw; */
  }
}
